<ion-header>
  <ion-toolbar>
    <ion-title>Configuração das Bombas</ion-title>

    <ion-buttons slot="end">
      <ion-button shape="round" fill="outline" (click)="sincronizarHoraESP()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-accordion-group>
    <ion-accordion class="acordionClass" *ngFor="let bomb of bombas; let i = index" [value]="'bomb' + (i + 1)">
      <ion-item slot="header" color="light">
        <div class="d-flex flex-row justify-content-between align-items-center">
          <ion-label style="font-size: 0.600rem;">
            Bomba {{ i + 1 }}          
          </ion-label>
          <ion-chip (dblclick)="ajusteNome(bomb)" [outline]="true" [color]="getBombaColor(i)" style="margin-left: 0.625rem;font-size: 12px; width: 120px;">
            {{ bomb.name || 'Sem Nome' }}
          </ion-chip>
          <ion-chip style="font-size: 12px; width: 100px; margin-left: 1.6rem;"  [color]="bomb.status ? 'success' : 'danger'">
            {{ bomb.status ? 'Ativada' : 'Desativada' }}
          </ion-chip>
        </div>
        
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-text>Horário</ion-text>
        <div class="timepicker-container">
          <ngb-timepicker [(ngModel)]="bomb.time" [spinners]="true" [seconds]="false" [hourStep]="1" [minuteStep]="1">
          </ngb-timepicker>

          <ion-button shape="round" (click)="toggleAtivacao(bomb)" fill="outline"
            [color]="bomb.status ? 'success' : 'danger'">
            <ion-icon slot="icon-only" name="power-outline"></ion-icon>
          </ion-button>
          <div>
            <ion-chip>Coef: {{ bomb.calibrCoef | number:'1.2-2' }}</ion-chip>
            <ion-chip [outline]="true" color="warning" style="font-size: 10px;" (click)="ajusteEstoque(bomb)">
              Recipiente: {{bomb.quantidadeEstoque}} mls / Dias restantes: {{(bomb.quantidadeEstoque / bomb.dosagem) | number:'1.1-1'}}</ion-chip>
          </div>
        </div>

        <div class="boxDosagem">
          <ion-text>Dosagem (ml)</ion-text>
          <div class="chip-container">
            <ion-chip (click)="ajusteDosagem(bomb)">💧 {{ bomb.dosagem | number:'1.1-1' }} ml</ion-chip>
          </div>
 
          <ion-range [(ngModel)]="bomb.dosagem" min="0.5" max="15" step="0.1" color="primary">
            <ion-label slot="start">0.5</ion-label>
            <ion-label slot="end">15</ion-label>
          </ion-range>
        </div>

        <div class="boxDiasSemanas">
          <ion-text>Dias de acionamento</ion-text>
          <ion-chip class="chip-todos" (click)="toggleTodos(bomb)" [color]="isAllSelected(bomb) ? 'primary' : 'medium'">
            Todos
          </ion-chip>
  
          <div class="chip-grid">
            <ion-chip *ngFor="let d of diasSemana; let j = index" (click)="toggleDia(bomb, j)"
              [color]="bomb.diasSemanaSelecionados[j] ? 'primary' : 'medium'">
              {{ d }}
            </ion-chip>
          </div>
        </div>    
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-button expand="block" fill="outline" color="warning" routerLink="/calibrar" shape="round">
    <ion-icon name="flask-outline" slot="start"></ion-icon>Calibrar Bombas
  </ion-button>

  <ion-button expand="block" fill="outline" color="success" (click)="salvarConfiguracao()" shape="round">
    <ion-icon name="save-outline" slot="start"></ion-icon>Salvar
  </ion-button>

  <div class="d-flex flex-row justify-content-between">
    <ion-button expand="block" fill="outline" color="tertiary" style="width: 50%;" shape="round">
      <ion-icon name="receipt" slot="start"></ion-icon>Log de Acionamentos
    </ion-button>
    <ion-button expand="block" fill="outline" color="secundary" style="width: 50%;" shape="round">
      <ion-icon name="calculator" slot="start"></ion-icon>calculadora
    </ion-button>
  </div>
</ion-content>

<div>
  <ngb-toast *ngIf="showSuccess" [autohide]="true" (hidden)="showSuccess = false" [ngClass]="'bg-success text-light full-width-toast'">
    Configuração salva com sucesso.
  </ngb-toast>
</div>
<div>
  <ngb-toast *ngIf="showError" [autohide]="true" (hidden)="showError = false" [ngClass]="'bg-danger text-light full-width-toast'">
    Erro ao enviar as configurações.
  </ngb-toast>
</div>