<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cálculo Salinidade (TPA)</ion-card-title>
      <ion-card-subtitle>calcule a quantidade de sal por litro</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="d-flex flex-column">
      <ion-chip><span>Litros de Água = </span><span> {{litrosAgua}} Lts</span></ion-chip>
      <ion-chip>Sal por Litro da Marca = {{gramasLitro}} Gramas/Litro</ion-chip>
      <ion-chip>{{quantidadeSal}}</ion-chip>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Calculo Dosagem</ion-card-title>
      <ion-card-subtitle>Calcule a dosagem diaria de seu balling</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ajuste de Dosagem diaria</ion-card-title>
      <ion-card-subtitle>Faça a calibração do seus ajuste diario</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>